@import "variables";

.calendar {
  background-color: $white;
  padding: 20px;
  justify-content: center;
  display: flex;
  .modal {
    display: none;
    position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0000002e;
    .modalform {
      background-color: $white;
      position: relative;
      top: 25%;
      z-index: 100;
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: 10px;
      height: 50%;
      width: 99%;
      i {
        margin-left: auto;
        color: $dgrey;
      }
      h1 {
        font-size: 25px;
        font-family: $sfont;
      }
      input {
        width: 50px;
      }
    }
  }
  h1, h3 {
    font-family: $sfont;
    text-align: center;
    color: $black;
  }
  .schedule {
    margin: auto;
    margin-top: 20px;
    h1 {
      font-size: 25px;
      border-top: 1px;
      border-right: 1px;
      padding: 5px;
      border-left: 1px;
      border-bottom: 0px;
      border-style: solid;
      border-color: $black;
    }
  }
  .days {
    border: 1px solid $black;
    justify-content: center;
    border-collapse: collapse;
    tr > td {
      border: 1px solid $black;
      height: 15px;
      width: 15px;
      vertical-align: center;
      text-align: center;
      padding: 5px;
    }
  }
  .week {
    th {
      padding: 10px;
      border: 1px solid $black;
    }
  }
}

@media only screen and (min-width: 436px) {

}

@media only screen and (min-width: 620px) {

}

@media only screen and (min-width: 768px) {
  .schedule {
    margin: auto;
    margin-top: 20px;
  }
  .calendar .days {
    tr > td {
      height: 75px;
      width: 100px;
      vertical-align: top;
      text-align: left;
      padding: 5px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .calendar .days {
    tr > td {
      height: 100px;
      width: 125px;
    }
  }
}
