@import "variables";

.calendar {
  padding: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  .modal {
    display: none;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0000002e;
    .modalform {
      background-color: $white;
      position: relative;
      top: 25%;
      z-index: 100;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: 10px;
      height: 400px;
      width: 95%;
      i {
        margin-left: auto;
        color: $ddgrey;
      }
      h1 {
        font-size: 22px;
        font-family: $sfont;
        padding: 10px 5px 10px 5px;
      }
      input, select {
        width: 50%;
        height: 25px;
        font-size: 17px;
        font-family: $sfont;
        margin: 5px;
        border-radius: 5px 5px;
      }
      button {
        font-family: $sfont;
        background-color: $lblue;
        color: $white;
        padding: 10px;
        font-size: 20px;
        width: 50%;
        margin-top: 25%;
        border-radius: 5px 5px;
      }
      p {
        @extend h1;
        margin: auto;
      }
    }
  }
  h1, h3 {
    font-family: $sfont;
    text-align: center;
    color: $black;
  }
  .schedule {
    margin: auto;
    margin-top: 20px;
    h1 {
      font-size: 25px;
      border-top: 1px;
      border-right: 1px;
      padding: 5px;
      border-left: 1px;
      border-bottom: 0px;
      border-style: solid;
      border-color: $black;
    }
  }
  .days {
    border: 1px solid $black;
    justify-content: center;
    border-collapse: collapse;
    tr > td {
      border: 1px solid $black;
      height: 15px;
      width: 15px;
      vertical-align: center;
      text-align: center;
      padding: 5px;
      div {
        background-color: $rlblue;
        font-size: 13px;
        padding: 4px;
      }
    }
  }
  .week {
    th {
      padding: 10px;
      border: 1px solid $black;
    }
  }
}

@media only screen and (min-width: 436px) {
  .calendar > .modal {
    .modalform {
      top: 25%;
      padding: 10px;
      height: 50%;
      width: 75%;
      h1 {
        font-size: 25px;
        padding: 10px 5px 10px 5px;
      }
      input, select {
        width: 50%;
        height: 25px;
        font-size: 17px;
        margin: 5px;
      }
      button {
        padding: 10px;
        font-size: 20px;
        width: 50%;
        margin-top: 25%;
        border-radius: 5px 5px;
      }
      p {

      }
    }
  }
}

@media only screen and (min-width: 620px) {
  .calendar > .modal {
    .modalform {
      height: 50%;
      width: 450px;
      h1 {
        font-size: 25px;
        padding: 10px 5px 10px 5px;
      }
      input, select {
        width: 50%;
        height: 30px;
        font-size: 17px;
        margin: 5px;
      }
      button {
        padding: 10px;
        font-size: 20px;
        width: 50%;
        margin-top: 25%;
        border-radius: 5px 5px;
      }
      p {

      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .schedule {
    margin: auto;
    margin-top: 20px;
  }
  .calendar {
    padding-bottom: 60px;
    .days {
      tr > td {
        height: 75px;
        width: 100px;
        vertical-align: top;
        text-align: left;
        padding: 5px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .calendar .days {
    tr > td {
      height: 100px;
      width: 125px;
    }
  }
}
