@import "variables";
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  h4 {
    font-family: $sfont;
    font-size: 15px;
    color: $black;
    text-align: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      padding: 30px;
      height: 20px;
      margin-top: 10px;
      font-size: 17px;
      width: 300px;
      border: none;
      font-family: $sfont;
      color: $ddgrey;
      background-color: $lgrey;
    }
  }
  textarea {
    padding: 30px;
    height: 300px;
    margin-top: 10px;
    font-size: 17px;
    width: 300px;
    border: none;
    font-family: $sfont;
    color: $ddgrey;
    background-color: $lgrey;
    resize: none;
  }
  button {
    font-family: $sfont;
    background-color: $lblue;
    color: $white;
    padding: 10px;
    margin-top: 25px;
    font-size: 20px;
    width: 150px;
    border-radius: 5px 5px;
  }
}

@media only screen and (min-width: 436px) {

}

@media only screen and (min-width: 620px) {
  .contact {
    .info {
      input {
        margin-top: 10px;
        width: 500px;
      }
    }
    textarea {
      height: 300px;
      margin-top: 10px;
      font-size: 17px;
      width: 500px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .contact {
    h4 {
      font-size: 25px;
    }
    .info {
      width: 500px;
      flex-direction: row;
      justify-content: space-between;
      input {
        margin-top: 10px;
        flex-basis: 50%;
        max-width: 245px;
      }
    }
    textarea {
      height: 300px;
      margin-top: 10px;
      font-size: 17px;
      width: 500px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .contact {
    .info {
      width: 800px;
      flex-direction: row;
      justify-content: space-between;
      input {
        margin-top: 10px;
        flex-basis: 50%;
        max-width: 395px;
      }
    }
    textarea {
      height: 300px;
      margin-top: 10px;
      font-size: 17px;
      width: 800px;
    }
  }
}
