@import "variables";
.footer {
  background-color: $dblue;
  padding: 20px;
  height: auto;
  .info {
    color: $white;
    display: flex;
    & > div {
      flex-direction: row;
      display: flex;
      margin: 5px;
      i {
        margin-right: 10px;
      }
      h1 {
        font-size: 16px;
        font-family: $sfont;
      }
      h3 {
        font-size: 13px;
        font-family: $sfont;
      }
    }
  }
  .about {
    color: white;
    h3 {
      font-size: 16px;
      font-family: $sfont;
    }
    p {
      font-family: $sfont;
      font-size: 13px;
    }
  }
  .hours {
    color: white;
    h3 {
      font-family: $sfont;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      li {
        list-style-type: none;
        font-size: 14px;
        padding: 5px 5px 0px 0px;
        flex-basis: 50%;
        font-family: $sfont;
      }
    }
  }
  .divider {
    color: white;
    width: 60%;
    margin: 10px auto 10px auto;
  }
}

@media only screen and (min-width: 436px) {
  .info {
    width: 50%;
  }

  .divider {
    display: none;
  }
}

@media only screen and (min-width: 620px) {

}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 2% 10% 2% 10%;
  }
}

@media only screen and (min-width: 1024px) {

}
