@import "variables";
.footer {
  background-color: $dblue;
  padding: 20px;
  height: auto;
  .info {
    color: $white;
    display: flex;
    h3 {
      font-size: 16px;
      font-family: $sfont;
      text-align: left;
    }
    & > div {
      flex-direction: row;
      display: flex;
      i {
        margin-right: 10px;
      }
      h1 {
        font-size: 16px;
        font-family: $sfont;
      }
      h3 {
        font-size: 13px;
        font-family: $sfont;
      }
      div {
        display: flex;
        flex-direction: column;
        h1 {
          margin-top: 5px;
        }
        i {
          padding: 36% 0% 36% 0%;
        }
      }
    }
  }
  .about {
    color: white;
    text-align: center;
    h3 {
      font-size: 16px;
      font-family: $sfont;
    }
    p {
      font-family: $sfont;
      font-size: 13px;
    }
  }
  .hours {
    color: white;
    h3 {
      font-family: $sfont;
      text-align: center;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0% 5% 0% 5%;
      justify-content: space-around;
      li {
        list-style-type: none;
        font-size: 14px;
        text-align: center;
        padding: 5px 5px 0px 0px;
        flex-basis: 50%;
        font-family: $sfont;
      }
    }
  }
  .divider {
    color: white;
    width: 60%;
    margin: 10px auto 10px auto;
  }
  .social {
    margin-top: 15px;
    i {
      margin: 0px 5px 0px 5px;
    }
  }
}

@media only screen and (min-width: 436px) {
  .info {
    width: 33%;
  }

  .divider {
    display: none;
  }
}

@media only screen and (min-width: 620px) {

}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 2% 10% 2% 10%;
  }
}

@media only screen and (min-width: 1024px) {

}
