$pink: #ff8672;
$white: whitesmoke;
$pfont: 'PT Sans Narrow', sans-serif;
$black: #1f1f1f;
$sfont: 'Noto Sans', sans-serif;
$lpink: #ffa99b;
$dblue: #22272f;
$lblue: #38547b;
$grey: #d6d6d6;
$dpink: #de7665;
