@import "variables";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.fade-down {
  opacity: 0;
  transition: all 1.5s;
  position: relative;
  top: -100px;
}

.heading {
  text-align: center;
  color: $black;
  font-size: 40px;
  font-family: $sfont;
}

#services {
  background-color: $white;
  .row-m {
    justify-content: center;
  }
  .service {
    margin: 10% 5% 0% 5%;
    max-width: 300px;
    text-align: center;
    .service-title {
      color: $black;
      padding: 30px;
      background-color: $lblue;
      h1 {
        font-size: 25px;
        color: $white;
      }
      h4 {
        color: $white;
        span:first-child {
          vertical-align: top;
          font-size: 25px;
        }
        span {
          font-size: 40px;
        }
      }
    }
    .service-list {
      border-top: 1px;
      border-right: 1px;
      border-left: 1px;
      border-bottom: 1px;
      border-style: solid;
      border-color: $grey;
      padding: 10px;
      & > ul li {
        list-style-type: none;
        color: $black;
        padding: 5px;
        font-family: $sfont;
        &.disabled {
          color: $dgrey;
          text-decoration: line-through;
        }
      }
    }
  }
}

.overview {
  background-color: $dblue;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  h1 {
    font-size: 25px;
    font-family: $sfont;
    color: $white;
  }
  p {
    font-size: 17px;
    font-family: $sfont;
    color: $grey;
    margin-top: 3%;
  }
}

@media only screen and (min-width: 436px) {

}

@media only screen and (min-width: 620px) {
  .overview {
    padding: 30px;
  }
}

@media only screen and (min-width: 768px) {
  #services {
    .row-m .col-3 {
      flex-basis: 30%;
      &:nth-child(2) {
        transform: scale(1.05);
      }
    }
    .service {
      margin: 5% 1% 5% 1%;
      max-width: 300px;
      .service-title {
        padding: 30px;
        h1 {
          font-size: 25px;
        }
        h4 {
          span:first-child {
            font-size: 25px;
          }
          span {
            font-size: 40px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .overview {
    padding: 50px;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
  }
}

@import "navbar";
@import "landing";
@import "footer";
@import "calendar";
