@import "variables";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.fade-down {
  opacity: 0;
  transition: all 1.5s;
  position: relative;
  top: -100px;
}

.heading {
  text-align: center;
  color: $black;
  font-size: 40px;
  font-family: $sfont;
}

#services {
  background-color: $white;
  .service {
    margin: 10% 5% 0% 5%;
    width: 100px;
    text-align: center;
    .service-title {
      color: $black;
      padding: 30px;
      background-color: $lblue;
      h1 {
        font-size: 25px;
        color: $white;
      }
      h4 {
        color: $white;
        span:first-child {
          vertical-align: top;
          font-size: 25px;
        }
        span {
          font-size: 40px;
        }
      }
    }
    .service-list {
      
    }
  }
}

@import "navbar";
@import "landing";
@import "footer";
